In [ ]:
##my own code for just brute force

def penney(P1_guess, P2_guess, deck):
    player1_pot=0
    player2_pot=0
    start_pos=0 ##acts a traverser across the remaining deck
    stack=len(deck) ##helps keep track of how many cards are available to look at in front of the current card (in the case of not a match we move on to the next card)
    while stack>0:
        if stack - start_pos <= 1: ##this is in the instance of if start_pos is 2 but stack length is 2 (or if start_pos is 1 and stack length is 2)
            break ##if we have only 2 or 1 card left in the deck and our starting posiiton is 1 or 2 in the list
        if len(deck)>=3: ##if its possible to look at 3 cards
            if deck[start_pos]+deck[start_pos+1]+deck[start_pos+2] == P1_guess: ##look at the card and the next 2
                player1_pot+=(start_pos+3) 
                deck=deck[start_pos+3:] #takes the current card and 2 cards in front from the deck
                stack=len(deck) ##resetting the total amt of cards we can look at in front of the current card
                start_pos=0 ##resets the starting position to 0
                continue
            if deck[start_pos]+deck[start_pos+1]+deck[start_pos+2] == P2_guess:
                player2_pot+=(start_pos+3)
                deck=deck[start_pos+3:]
                stack=len(deck)
                start_pos=0
                continue
            stack-=1 ##reduces the amt of total cards we can look at 
            start_pos+=1 ##moves on to the next card as the first card in the 3 card combo
    if player1_pot>player2_pot:
        return ('P1 wins')
    elif player2_pot>player1_pot:
        return('P2 wins')
    else:
        return ('draw')

In [1]:
##data management will recieve number of cards each player recieves, as well as number of tricks each player wins
import random
import numpy as np

In [16]:
x=np.random.randint(1,52)
y=52-x
test=[x,y]
test

[16, 36]

In [ ]:
test_out=[16,36,2,4]
p1_card_hits=0
p2_card_hits=0

p1_trick_hits=0
p2_trick_hits=0

def who_wins(p1_guess, p2_guess, p1_pot, p2_pot, p1_tricks,p2_tricks):
    if p1_pot>p2_pot:
        ##here would be add an entry to the database where
        ##needs to correlate with the guess combo so we know what I guess each entry in the P1 guess and P2 guess columns 
        ##would need to use the INSERT INTO command for SQL
    if p1_tricks>p2_tricks:
        
    elif p2_pot>p1_pot:
        ###add entry to db making it so win
    else: ##(p2_tricks>p1_tricks):
    


        ##need to decide on what cols should be in db 
        
##when finding new probabilites can record the length of the database and then take hte the average of whatver the person wants
##need to make function in which we can retrieve these results and format it into a 8 x8 array, and then put it in a dictionary with keys --variation 1 vs variation 2
        
##

In [ ]:
##for SQL
##got from intro_sql-part1
# .fetchone() to get one result
# .fetchmany()
# .fetchall()

In [65]:
import sqlite3
import pandas as pd

In [66]:
import penney_db
from importlib import reload
reload(penney_db);
from  penney_db import DB

In [67]:
d = DB('../Automation_Workflow/test.db', create=True)

In [68]:
d.build_tables()

In [69]:
sql ='''
SELECT * FROM tPenney

;'''
d.run_query(sql)

Empty DataFrame
Columns: [id, p1_guess, p2_guess, p1_cards, p2_cards, p1_tricks, p2_tricks, win_cards, win_tricks]
Index: []

In [70]:
##test_out=[111, 000, 36,16,2,4]
d.who_wins('111','000',36,16,2,4)

In [71]:
sql ='''
SELECT * FROM tPenney

;'''
d.run_query(sql)

,id,p1_guess,p2_guess,p1_cards,p2_cards,p1_tricks,p2_tricks,win_cards,win_tricks
0,1,111,000,36,16,2,4,p1,p2

In [ ]:
##HAVE TO MAKE THE GUESS INPUTS STRINGS OR ELSE 000 COMBO WILL READ AS 0

In [ ]:
##then need to create a function that will calculate the probability of winning for each combination (so like SUM of SELECT WHERE p1_guess == 111 and p2_guess=000)
##then need to create a get_array function that will return the probabilites associated with every combination

In [ ]:
test_out=[111, 000, 36,16,2,4]
p1_card_hits=0
p2_card_hits=0

p1_trick_hits=0
p2_trick_hits=0

def who_wins(p1_guess, p2_guess, p1_pot, p2_pot, p1_tricks,p2_tricks):
    if p1_pot>p2_pot:
        ##here would be add an entry to the database where
        ##needs to correlate with the guess combo so we know what I guess each entry in the P1 guess and P2 guess columns 
        ##would need to use the INSERT INTO command for SQL
        win_cards='p1'
        win_tricks='p2'
        sql= '''
            INSERT INTO t (p1_guess, p2_guess, p1_cards, p2_cards, p1_tricks, p2_tricks,win_cards, win_tricks)
            VALUES (:p1_guess, :p2_guess, :p1_cards, :p2_cards, p1_tricks, p2_tricks, win_cards, win_tricks);

        '''
        d.run_(sql, ((p1_guess, p2_guess, p1_pot, p2_pot, p1_tricks,p2_tricks, win_cards, win_tricks)))

In [76]:
d.close()

In [ ]:
##need to make 64 cases of random inputs to the db (where 1 case is 1 combo

##we coudl potentially make the primary keys a combo b/w p1guess and p2guess but then we'd lose the specificity of a certain amt of cards winning over th eother in one instance

In [ ]:
##making 10000 games